.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    
}
.Scrollbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 1rem;
    overflow: scroll;
    padding-top: .8rem;
    max-width: 1000px;
    
}
@media only screen and (min-width: 992px) {
    .Scrollbox{
        width: 65%;
        height: auto;
        padding-top: 2.5rem;
    }
}

.Scrollbox > div {
    border: 1px solid black;
    
}

.Disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    height: 9rem;
    width: 9rem;

    padding: .5rem;
    text-align: center;

    font-size: .8rem;


}
