img {
    height: auto;
    width: 75%;

    min-width: 250px;
    max-width: 500px;
}

.PlaylistContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    
    width: 75%;
    height: 100%;
    max-width: 1250px;

    padding: 15px;
    margin: 15px;

    color: purple !important;

    background-color: aliceblue;
}

.PlaylistContainer > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}

.TrackContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
    width: 60%;
    padding: 5px;
}
.TrackContainer > div {
    height: 50%;
}