img {
    
    object-fit: contain;
    
}

.PlaylistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    
    height: 10rem;
    width: 10rem;

    transition: .2s;
}

.PlaylistContainer > :first-child {
    margin-top: auto;
    padding:5px;
    font-size: 2rem;
}

.PlaylistContainer > :nth-child(2) {
    display: flex;
    
    justify-content: center;
}

